
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=PT+Serif&display=swap');

@import '../styles/utils/reset';

body {
  background: #F5EFE6;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
}

header {
  background-color: #FFF;
  padding: 14px 0 15px;
  text-align: center;
}

main {
  padding-top: 47px;
}

img {
  width: 100%;
}

// Typography

h1 {
  color: #4C4D4F;
  font-size: 34px;
  line-height: 51px; /* 150% */
}

a {
  color: #4C4D4F;
  font-family: "PT Serif", serif;
  font-size: 12px;
  line-height: 21px;
  text-decoration-line: underline;
}

// Logo

.logo {
  color: #4C4D4F;
  font-family: 'PT Serif', serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px; /* 150% */
}

// Container
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;


  @media (min-width: 762px) {
    max-width: 755px;
    padding-left: unset;
    padding-right: unset;
  }

  @media (min-width: 992px) {
    max-width: 990px;
  }

  @media (min-width: 1298px) {
    max-width: 1268px;
  }

  &.small {
    @media (min-width: 762px) {
      max-width: 755px;
      padding-left: unset;
      padding-right: unset;
    }


    @media (min-width: 970px) {
      max-width: 960px;
    }
  }
}

